.main{
    display: flex;
    background: radial-gradient(circle at right bottom, #84f0ee , #967fef);
    width: 100%;
    min-height: 100%;
    height: auto;
    justify-content: center;
}
.frame{
    padding-top: 90px;
}
